<article class="row">
  <div class="user">
    <h3 class="col-md-offset-2 col-md-8 col-md-offset-2 col-sm-offset-1 col-sm-10">
      お気に入り作品
    </h3>

    <%= render 'users/likes' %>
  </div>
</article>