<div class="box profile row col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
    <div class="profile-image col-md-4 col-sm-4">
      <% if @user.image.present? %>
        <%= image_tag @user.image  %>
      <% else %>
        <%= image_tag "default.png"  %>
      <% end %>
    </div>
    <p><b>自己紹介</b></p>
    <% if @user.description.present? %>
      <p><%= @user.description.gsub(/\r\n|\r|\n/, "<br />").html_safe %></p>
    <% else %>
      <p>まだ自己紹介はありません。</p>
    <% end %>
  <p class="path">
    <% if @user.id == @current_user.id %>
      <%= link_to "→編集", edit_user_path(@user.id) %>
    <% end %>
  </p>
</div>
