.mini-box{
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 4%;
  padding: 30px;
  word-break: break-all;
  background-color: rgba(212,220,214,0.9);
  letter-spacing: 3px;
  p{
    margin: 0;
    font-size: calc(90% + 0.3vw);
  }
  ul{
    padding: 0;
  }
}

.path{
  text-shadow: 1px 1px 0 #fff,
              -1px 1px 0 #fff,
              1px -1px 0 #fff,
              -1px -1px 0 #fff;
  font-weight: bold;
  margin-bottom: 5%;
}

.path a:hover{
 text-decoration: none;
}

.mini-box h5{
  font-size: 15px;
}

.comment-form{
  textarea{
    height: 35px;
    width: 100%;
    font-size: calc(85% + 0.5vw);
  }
  #btn{
    margin-left: 80%;
    width: 20%;
    background-color: white;
  }
  margin: 2% 0;
}

.comment-info{
  p{
    font-size: calc(100% + 0.4vw);
    margin: 0;
  }
  li{
    margin: 0;
    text-align: right;
    font-size: calc(100% + 0.1vw);
  }
}

// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
