// Error共通設定
.error_messages{
  border: 1px solid black;
  border-radius: 7px;
  background-color: rgba(212,220,214,0.9);
  box-shadow: 0 0 0 3px rgba(212,220,214,0.9);
  margin-bottom: 5%;
  padding: 2% 5%;
  letter-spacing: 3px;
  text-align: center;
  ul{
   padding: 0;
   li{
   }
  }
}

// post共通設定

.box{
  border: 1px solid black;
  border-radius: 7px;
  margin-top: 3%;
  padding: 30px;
  background-color: rgba(212,220,214,0.9);
  letter-spacing: 3px;
  box-shadow: 0 0 0 3px rgba(212,220,214,0.9);
  overflow-wrap: break-word;
}

.post-content {
  h2{
    margin: 1%;
    padding-bottom: 5px;
    font-size: calc(90% + 1.2vw);
    text-shadow: 1.5px 1.5px 0 #fff,
                 -1.5px 1.5px 0 #fff,
                 1.5px -1.5px 0 #fff,
                 -1.5px -1.5px 0 #fff;
    white-space: pre-wrap;
  }
  a:hover{
    color: white;
    text-shadow: 1.5px 1.5px 0 #000,
                 -1.5px 1.5px 0 #000,
                 1.5px -1.5px 0 #000,
                 -1.5px -1.5px 0 #000;
    text-decoration: none;
  }
}

.index-image img{
 width: 32px;
 height: 32px;
 object-fit: cover;
 border: 1px solid black;
 border-radius: 7px;
 background-color: rgba(255,255,255,0.7);
}

.post-info{
 li{
  text-align: right;
  margin-top: 0;
  font-size: calc(90% + 0.3vw);
 }
}

// 詳細画面
.post-info p, .edit-menu{
 text-align: right;
}

.edit-menu p{
  font-size: calc(90% + 0.3vw);
  margin-right: 2.5%;
}

.likes-area{
  text-align: right;
  .like-box{
   margin-top: 2%;
   padding: 2%;
   border: 1px solid black;
   border-radius: 7px;
   background-color: rgba(255,255,255,0.7);
   p{
    text-align: left;
    font-size: calc(80%);
    padding: 1%;
   }
   ul{
    padding-left: 3%;
     li{
     font-size: calc(80%);
     text-align: left;
     margin: 0%;
    }
   }
  }
}

.like-btn{
 color: #ee827c;
}

.like-btn-unlike{
 color: #165e83;
}

#like_count{
 cursor: pointer;
 &:hover{
 text-decoration: underline;
 }
}


.white-shadow p, .post p{
  text-shadow: 1px 1px 0 white,
               -1px 1px 0 white,
               1px -1px 0 white,
               -1px -1px 0 white;
  font-weight: bold;
  margin-bottom: 5%;
}

.like_users ul li{
 margin-bottom: 10px;
}

// 投稿画面

.post{
 h3{
  font-weight: bold;
  color: #eaedf7;
  text-shadow: 1px 1px 0 #000,
              -1px 1px 0 #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  margin-left: 15%;
  margin-bottom: 2%;
 }
 textarea{
  font-size: calc(100% + 0.5);
  margin-bottom: 1%;
  height: 120px;
 }
 p.back{
  margin-bottom: 2%;
 }
}

.confirm-box{
 margin-top: 0;
}

.confirm-content p{
 font-size: 25px;
 font-weight: normal;
 text-shadow: 1.5px 1.5px 0 white,
              -1.5px 1.5px 0 white,
              1.5px -1.5px 0 white,
              -1.5px -1.5px 0 white;
}

.submit-btn{
 margin-top: 1%;
}
.back-btn{
 margin-top: 1%;
}

.upload{
 input{
  background-color: #d4dcd6;
 }
 margin-bottom: 20px;
}

label.up{
 color: white;
 text-shadow: 1px 1px 0 #000,
             -1px 1px 0 #000,
             1px -1px 0 #000,
             -1px -1px 0 #000;
  margin: 0;
 &:hover{
  cursor: auto;
  text-decoration: none;
 }
 input{
  color: black;
  font-weight: normal;
 }
}
.remove{
 input{
  margin: 0;
 }
}

.post-image{
  text-align: center;
  margin-bottom: 5%;
}
.post-image img{
 width: 80%;
 object-fit: cover;
 border-radius: 7px;
 border: 1px black solid;
}

// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
