.user{
  h3{
  font-weight: bold;
  color: #eaedf7;
  text-shadow: 1px 1px 0 #000,
              -1px 1px 0 #000,
              1px -1px 0 #000,
              -1px -1px 0 #000;
  }
  ul{
   padding: 0;
   li{
     font-size: calc(100% + 0.1vw);
   }
   li.path{
     padding-left: 1%;
     margin: 0;
   }
   li.user-menu{
     margin: 2% 0 1% 0 ;
   }
  }
  p.path{
   margin: 4% 0;
  }
  p.back{
    text-shadow: 1px 1px 0 #fff,
            -1px 1px 0 #fff,
            1px -1px 0 #fff,
            -1px -1px 0 #fff;
    font-weight: bold;
  }
 .box{
   padding: 2.5%;
   margin-top: 1%;
 }
 textarea{
  font-size: calc(100% + 0.5);
  margin-bottom: 1%;
  height: 120px;
 }
 .user-post{
   margin-bottom: 1%;
 }
}

// メインコンテンツ
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}



// ユーザー詳細画面
.profile{
}

.profile ul li{
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.profile-label{
  font-weight: bold;
  display: inline-block;
  padding-top: 10px;
}

.profile-content{
}

.simple_format{
  text-decoration: none;
}


#user-menu-profile{
}

#user-title-profile{
}

#user-menu-profile-btn{
  display: none;
  cursor: pointer;
  &:hover{
   text-decoration: underline;
  }
}

#user-menu-posts{
  display: none;
}

#user-title-posts{
  display: none;
}

#user-menu-posts-btn{
  cursor: pointer;
  &:hover{
   text-decoration: underline;
  }
}

#user-menu-likes{
  display: none;
}

#user-title-likes{
  display: none;
}

#user-menu-likes-btn{
  cursor: pointer;
  &:hover{
   text-decoration: underline;
  }
}


// ユーザー情報編集
.profile-item{
  padding-bottom: 60px;
  ul {
    li{
      label{
      text-shadow: 1px 1px 0 #000,
                  -1px 1px 0 #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
      }
      textarea{
        font-size: 17px;
        padding: 5px 10px;
        height: 150px;
      }
    }
  }
}


.profile-desc{
}

.profile-confirm li{
  margin-top: 5px;
  color: black
}

// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
